body {
  margin: 0;
  background-color: #F8F8F8;
}

.button:hover{
  color:white !important;
}

.background-fullscreen {
  height: 100vh;
  width: 100vw;
  background-size:cover;
  margin: 0;
  position: relative;
}


.text-center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  justify-content: center;
  text-align: center;
}

.form-hidden {
  display: none;
}

.mailchimp-form {
  /*places form on bottom*/
/*  position: fixed;
  bottom: 8%;*/
  width: 100%;
}

#b3 {
  text-decoration: none;
  color: #323232;
  font-weight: bold;
}
/*ABOUT PAGE*/
.background-about {
  /*text-align: justify;*/
  line-height: 1.4;
  width: 900px;
  margin: 72px auto;
  color: #323232;
  margin-bottom: 264px;
}

.background-about h1{
  color: red;
}

.grid-about {
  display: grid;
  grid-template-columns: 15% 81%;
/*  grid-gap: 4%;*/
  width: 100%;
  margin-bottom: 3rem;
  line-height: 1.4;
}

.grid-about strong, .background-about strong {
  font-weight: 900;
  color: black;
}

.info {
  color: #666666;
}

.upcoming-show {
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 16px 32px ;
  border: 1px dotted red;
  border-radius: 8px;
}

.upcoming-show p {
  margin: 0;
}

#upcoming {
  text-decoration: none;
  width: 100px;
}

#upcoming-img {
  width: 300px;
  height: auto;
  border: 1px dotted red;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding-top: 8px ;
}

/*NAVBAR*/

nav {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid red;
}

nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: red !important;
}

nav h1 {
  margin: 0;
  font-size: 0.9rem;
}

nav, h1, h2 {
  font-family: 'Archivo Black', sans-serif;
}

h2 {
  font-weight: bold;
}

.nav-inline {
  list-style: none;
}

ul.nav-inline {
  margin: 0;
}

.nav-inline li {
    display: inline-block;
    margin-left: 16px;
}

/*GENERAL*/

body {
  font-family: 'Roboto', sans-serif;
}

#text-small{
  font-size: 1.4rem;
}

@media only screen and (max-width: 750px) and (orientation: portrait) {

  #text-small{
    font-size: 0.9rem;
  }

  .background-fullscreen img {
    max-width: none;
    height: 100vh;
  }

  .mailchimp-form {
  /*places form on bottom*/
  position: fixed;
  bottom: 8%;
  width: 100%;
  }
}

@media only screen and (min-width: 750px) {
.grid-about {
  grid-template-columns: 8% 90%;
/*  grid-gap: 4%;*/
}

.background-fullscreen {
  background-position: 50% 29%;
}

  nav a, nav h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 750px) {

  .background-about {
    width: 85%;
  }


  .text-center {
    top: 60%;
  }
}
