body {
  margin: 0;
  background-color: #F8F8F8;
}

.button:hover{
  color:white !important;
}

.background-fullscreen {
  height: 100vh;
  width: 100vw;
  background-size:cover;
  margin: 0;
  position: relative;
}


.text-center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  justify-content: center;
  text-align: center;
}

.form-hidden {
  display: none;
}

.mailchimp-form {
  /*places form on bottom*/
/*  position: fixed;
  bottom: 8%;*/
  width: 100%;
}

#b3 {
  text-decoration: none;
  color: #323232;
  font-weight: bold;
}

/*ABOUT PAGE*/
.background-about {
  /*text-align: justify;*/
  line-height: 1.4;
  /*width: 900px;*/
  margin: 72px auto;
  color: #323232;
  margin-bottom: 264px;
  padding-right:  2rem;
  padding-left:  2rem;
}

.background-about h1{
  color: red;
}

.grid-about {
  display: grid;
  grid-template-columns: 15% 81%;
/*  grid-gap: 4%;*/
  width: 100%;
  margin-bottom: 3rem;
  line-height: 1.4;
}

.grid-about strong, .background-about strong {
  font-weight: 900;
  color: black;
}

.info {
  color: #666666;
}

.upcoming-show {
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 16px 32px ;
  border: 1px dotted red;
  border-radius: 8px;
}

.upcoming-show p {
  margin: 0;
}

#upcoming {
  text-decoration: none;
  width: 100px;
}

#upcoming-img {
  width: 300px;
  height: auto;
  border: 1px dotted red;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

/*NAVBAR*/

nav {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid red;
}

nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: red !important;
}

nav h1 {
  margin: 0;
  font-size: 0.9rem;
}

nav, h1, h2 {
  font-family: 'Archivo Black', sans-serif;
}

h2 {
  font-weight: bold;
}

.nav-inline {
  list-style: none;
  display:  flex;
  align-items: center;
}

ul.nav-inline {
  margin: 0;
}

.nav-inline li {
    display: inline-block;
    margin-left: 16px;
}

/*GENERAL*/

body {
  font-family: 'Roboto', sans-serif;
}

#text-small{
  font-size: 1.4rem;
}

@media only screen and (max-width: 750px) and (orientation: portrait) {

  #text-small{
    font-size: 0.9rem;
  }

  .background-fullscreen img {
    max-width: none;
    height: 100vh;
  }

  .mailchimp-form {
  /*places form on bottom*/
  position: fixed;
  bottom: 8%;
  width: 100%;
  }
}

@media only screen and (min-width: 750px) {
.grid-about {
  grid-template-columns: 8% 90%;
/*  grid-gap: 4%;*/
}

.background-fullscreen {
  background-position: 50% 29%;
}

  nav a, nav h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 750px) {

  .background-about {
    width: 85%;
  }


  .text-center {
    top: 60%;
  }
}

/*WORKS PAGES*/
.poem {
    width: 200px;
  }
  .works-link {
    text-decoration: none;
    color: red;
    font-size: 0.9rem;
    width: 140px;
    justify-content: center;
    display: flex;
  }

  .works-link-active {
    background-color: red;
    color: white;
    background-color: red;
  }

  .works-navigation {
    display: flex;
    flex-direction: column;
  }

  .works-navigation > h1 {
      padding-left: 36px;
    }

  .works-link {
    margin-left: 36px;
  }

  .reel {
    /* ↓ Custom properties for ease of adjustment */
    --space: 1rem;
    --color-light: #fff;
    --color-dark: #000;
    --reel-height: 95vh;
    --item-width: 25ch;
    display: flex;
    height: var(--reel-height);
    /* ↓ Overflow */
    overflow-x: auto;
    overflow-y: hidden;
    /* ↓ For Firefox */
    scrollbar-color: var(--color-light) var(--color-dark);
  }

  .reel > * {
    /*
    ↓ Just a `width` wouldn’t work because
    `flex-shrink: 1` (default) still applies
    */
    flex: 0 0 var(--item-width);
  }

  .reel > img {
    /* ↓ Reset for images */
    height: 97%;
    flex-basis: auto;
    width: auto;
  }
  .reel > * + * {
    margin-left: var(--space);
    margin-top: var(--space);
    margin-bottom: var(--space);
  }
  .reel.overflowing {
    /* ↓ Only apply if there is a scrollbar (see the JavaScript) */
    padding-bottom: var(--space);
  }

  /* ↓ Hide scrollbar with `no-bar` class */
  .reel.no-bar {
    scrollbar-width: none;
  }
  .reel.no-bar::-webkit-scrollbar {
    display: none;
  }

  /*MOBILE PORTRAIT*/
  @media screen and (max-width: 600px) and (orientation:portrait) {
    .works-navigation {
      align-items:  center;
      justify-content:  center;
      /*width: 200px;*/
    }
    #silence-margin {
      margin-left:  36px;
    }

    .works-navigation > h1 {
      padding-left: 0 !important;
    }

    .reel{
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .works-link {
      margin-left: 0;
    }

    .reel > * + * {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: var(--space);
    }

    .reel > img {
      height: auto;
      width:  100%;
      margin-left: 0;
    }

  }

  /*MOBILE LANDSCAPE*/
  @media screen and (min-device-width: 481px) and (orientation:landscape) {
    .reel > * + * {
      margin-left: var(--space);
      margin-top: 0;
      margin-bottom: var(--space);
    }

    .works-navigation > h1 {
      font-size: 18px;
    }
  }
