<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Dareos Khalili is a greek-iranian visual artist, film director and photographer based in Berlin, Germany.">
    <link rel="canonical" href="https://www.dareoskhalili.com/">

    <!-- FB Meta Tags -->
    <meta property="og:title" content="Dareos Khalili - Visual Artist | Film Director | Photographer">
    <meta property="og:description" content="Dareos Khalili is a greek-iranian visual artist, film director and photographer based in Berlin, Germany.">
    <meta property="og:image" content="https://www.dareoskhalili.com/assets/images/dareos-khalili-wedancealone.png">
    <meta property="og:url" content="https://www.dareoskhalili.com/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    {{ content }}
  </body>
</html>
